* {
    box-sizing: border-box;
  }
  body {
    height: 97vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top right, #7c89d5, #f599a5);
    font-size: 12px;
  }
  .center {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94vw;
    height: 88vh;
    max-width: 800px;
    display: flex;
  }
  .inspiration {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', sans-serif;
    color: #fff;
  }
  .left {
    flex: 0 0 150px;
    width: 150px;
    height: 100%;
    background-color: #fff;
    color: #848697;
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #ddd;
  }
  .logo {
    position: relative;
    top: 10px;
    height: 100px;
  }
  .company {
    text-align: center;
  }
  .company .company-name {
    font-weight: bold;
    color: #333;
  }
  .company .company-description {
    position: relative;
    margin: 10px auto;
    width: 100px;
    font-size: 10px;
  }
  .navigation {
    position: relative;
    display: block;
    margin-top: 50px;
  }
  .navigation li {
    padding: 0px 25px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .navigation li i {
    font-size: 20px;
  }
  .navigation li span {
    padding-left: 15px;
    vertical-align: super;
  }
  .right {
    flex: 1 1 auto;
    background-color: #f6f6fc;
    padding: 30px;
    /* border-radius: 0 3px 3px 0; */
    overflow-x: hidden;
    overflow-y: auto;
  }
  .right .title {
    font-size: 25px;
    font-weight: bold;
  }
  .right .description {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #808080;
  }
  .right .row {
    display: flex;
    margin: 10px 0 40px;
  }
  .right .row:last-child {
    margin: 10px 0 0;
  }
  .right .column {
    flex-direction: column;
  }
  .right .graph {
    display: inline-block;
    width: 160px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 22px -8px #808080;
  }
  .right .graph .stock {
    margin: 0;
    margin-left: 20px;
    top: 5px;
  }
  .right .graph + .graph {
    margin-left: 10px;
  }
  .right .asset-category {
    display: flex;
  }
  .right .category {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right .asset {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  }
  .right .asset-logo {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 0;
  }
  .right .asset-logo:before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 10px;
  }
  .right .asset-logo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right .asset-name {
    color: #808080;
  }
  .right .sub-title {
    margin-bottom: 10px;
    color: #00008b;
  }
  .right .half {
    flex: 1;
  }
  .right .stock {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 5px 0;
    margin: 8px 0;
  }
  .right .stock-logo {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 0;
    margin-right: 10px;
  }
  .right .stock-logo:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #555;
    transform: rotate(45deg);
    border-radius: 7px;
  }
  .right .stock-logo i, svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right .stock-info {
    margin-left: 5px;
    flex: 1;
  }
  .right .stock-name {
    color: #00008b;
  }
  .right .stock-fullname {
    color: #808080;
  }
  .right .stock-value {
    flex: 1;
    font-weight: bold;
    color: #808080;
  }
  .right .stock-logo.apple:before {
    background: #808080;
  }
  .right .stock-logo.facebook:before {
    background: #3b5998;
  }
  .right .stock-logo.amazon:before {
    background: #ff9b24;
  }
  .right .stock-logo.twitter:before {
    background: #55acee;
  }
  .right .stock-logo.paypal:before {
    background: #003087;
  }
  .right .stock-logo.google:before {
    background: #d62d20;
  }
  .right .stock-logo.paperpillar:before {
    background: linear-gradient(to top right, #7871ff, #6feaff);
  }
  .right .stock-logo.dandruft:before {
    background: linear-gradient(to top right, #f88781, #f7c682);
  }


.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
/*.tabcontent {*/
/*    display: none;*/
/*    padding: 6px 12px;*/
/*    border: 1px solid #ccc;*/
/*    border-top: none;*/
/*}*/
label{
  display: block;
  width: 100%;
}
input[type=text], select, input[type=password] {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-container {
  border-radius: 5px;
  padding: 20px;
}

.active{
  background: #ececf2;
}

.popup-bg-magenta-pink{
  background: #FF0099 linear-gradient(45deg, #3023AE 10%, #FF0099 100%);
}
.popup-bg-green-teal{
  background: #00D084 linear-gradient(45deg, #00C9A7 10%, #00D084 100%);
}
.popup-bg-purple-magenta {
  background: #D4145A; /* Magenta */
  background-image: linear-gradient(45deg, #662D8C 10%, #D4145A 100%); /* Purple to Magenta */
}
.popup-bg-bright-orange-red {
  background: #FF4E50; /* Bright Red */
  background-image: linear-gradient(45deg, #FC913A 10%, #FF4E50 100%); /* Orange to Red */
}
.popup-bg-neon-green {
  background: #A8E063; /* Light Green */
  background-image: linear-gradient(45deg, #00FF87 10%, #A8E063 100%); /* Neon Green to Yellowish Green */
}
.popup-bg-blue-aqua {
  background: #00B4DB; /* Light Blue */
  background-image: linear-gradient(45deg, #0083B0 10%, #00B4DB 100%); /* Deep Blue to Aqua */
}
.popup-bg-soft-coral {
  background: #FF6B6B; /* Soft Coral */
  background-image: linear-gradient(45deg, #F94D6A 10%, #FF6B6B 100%); /* Pink to Coral */
}
.popup-bg-dark-blue-purple {
  background: #2C3E50; /* Dark Blue */
  background-image: linear-gradient(45deg, #1A2980 10%, #2C3E50 100%); /* Midnight Blue to Deep Purple */
}
.popup-bg-deep-teal-cyan {
  background: #16222A; /* Deep Teal */
  background-image: linear-gradient(45deg, #3A6073 10%, #16222A 100%); /* Deep Teal to Dark Cyan */
}
.popup-bg-charcoal-violet {
  background: #0F2027; /* Charcoal */
  background-image: linear-gradient(45deg, #2C5364 10%, #0F2027 100%); /* Charcoal to Electric Violet */
}
.popup-bg-deep-magenta-black {
  background: #1B1B1B; /* Dark Gray */
  background-image: linear-gradient(45deg, #6D214F 10%, #1B1B1B 100%); /* Deep Magenta to Black */
}
.popup-bg-deep-burgundy {
  background: #2C001E; /* Deep Burgundy */
  background-image: linear-gradient(45deg, #4B0029 10%, #2C001E 100%); /* Rich Burgundy to Black */
}
.mt-20{
  margin-top: 20px;
}
.btn-setting{
  padding: 10px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  cursor: pointer;
}