<!DOCTYPE html>
<html lang="en">
<head>
  <title>RestUp Reminder</title>
  <link rel="stylesheet" href="../../assets/css/popup.css">
</head>
<body>
<!-- Your popup content goes here -->
<div class="blur-container">
  <div class="main-content" style="text-align: center;">
    <div class="centered-container" style="color: white">
      <span id="timer" style="cursor: none;">00:00:00</span>
      <!--<button onclick="startTimer()">Start</button>
      <button onclick="stopTimer()">Stop</button>
      <button onclick="resetTimer()">Reset</button>-->
      <h1 id="breakMessage" style="cursor: none;width: 280px;"></h1>
      <a href="javascript:void(0)" id="closeButton" class="btn">End</a>
    </div>
  </div>
</div>

<script src="../../assets/js/popup.js"></script>
</body>
</html>
