<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - RestUp Reminder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/setting-style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="../assets/js/toast.js"></script>
</head>
<body>
<div class="center">
    <div class="left">
        <div class="logo">
            <img src="../assets/icon/icon.png" alt="logo" style="width: 70px; height: 70px;">
        </div>
        <div class="company">
            <div class="company-name">RestUp Reminder</div>
            <div class="company-description">A Break Timer App</div>
        </div>
        <div class="navigation">
            <ul style="padding: 0;">
                <li class="tablinks active" onclick="openTabMenu(event, 'Statistics')">
                    <i class="material-icons">store</i><span>Statistics</span>
                </li>
                <li class="tablinks" onclick="openTabMenu(event, 'BreakSettings')">
                    <i class="material-icons">alarm_on</i><span>Break Settings</span>
                </li>
                <li class="tablinks" onclick="openTabMenu(event, 'Customization')">
                    <i class="material-icons">tune</i><span>Customization</span>
                </li>
                <!--<li class="tablinks">
                    <i class="material-icons">library_books</i><span>Contact Us</span>
                </li>-->
                <li class="tablinks" onclick="openTabMenu(event, 'WorkingHours')">
                    <i class="material-icons">account_box</i><span>About Us</span>
                </li>
                <!--<li class="tablinks">
                    <i class="material-icons">cancel</i><span>Close</span>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="right">
        <div id="Statistics" class="tabcontent">
            <div class="title">RestUp Reminder</div>
            <div class="description">A Break Timer App</div>
            <div class="row">
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft"><i class="fa fa-inverse fa-circle-thin"></i></div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Screen Lock</div>
                            <div class="stock-fullname" id="lock-count" style="font-size: 15px;">0</div>
                        </div>
                    </div>
                </div>
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft"><i class="fa fa-inverse fa-circle-thin"></i></div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Screen Unlock</div>
                            <div class="stock-fullname" id="unlock-count" style="font-size: 15px;">0</div>
                        </div>
                    </div>
                </div>
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft"><i class="fa fa-inverse fa-circle-thin"></i></div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Sleep / Resume</div>
                            <div class="stock-fullname" style="font-size: 15px;">
                                <span id="suspend-count">0</span>
                                <span>/</span>
                                <span id="resume-count">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="fa-circle-thin">
                                <path fill="#fff" d="M400 0c5 0 9.8 2.4 12.8 6.4c34.7 46.3 78.1 74.9 133.5 111.5c0 0 0 0 0 0s0 0 0 0c5.2 3.4 10.5 7 16 10.6c28.9 19.2 45.7 51.7 45.7 86.1c0 28.6-11.3 54.5-29.8 73.4l-356.4 0c-18.4-19-29.8-44.9-29.8-73.4c0-34.4 16.7-66.9 45.7-86.1c5.4-3.6 10.8-7.1 16-10.6c0 0 0 0 0 0s0 0 0 0C309.1 81.3 352.5 52.7 387.2 6.4c3-4 7.8-6.4 12.8-6.4zM288 512l0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-48 0c-17.7 0-32-14.3-32-32l0-128c0-17.7 14.3-32 32-32l416 0c17.7 0 32 14.3 32 32l0 128c0 17.7-14.3 32-32 32l-48 0 0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-64 0 0-58c0-19-8.4-37-23-49.2L400 384l-25 20.8C360.4 417 352 435 352 454l0 58-64 0zM70.4 5.2c5.7-4.3 13.5-4.3 19.2 0l16 12C139.8 42.9 160 83.2 160 126l0 2L0 128l0-2C0 83.2 20.2 42.9 54.4 17.2l16-12zM0 160l160 0 0 136.6c-19.1 11.1-32 31.7-32 55.4l0 128c0 9.6 2.1 18.6 5.8 26.8c-6.6 3.4-14 5.2-21.8 5.2l-64 0c-26.5 0-48-21.5-48-48L0 176l0-16z"/>
                            </svg>
                        </div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Fajr</div>
                            <div class="stock-fullname" id="fajr-namaz" style="font-size: 15px;">10</div>
                        </div>
                    </div>
                </div>
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="fa-circle-thin">
                                <path fill="#fff" d="M400 0c5 0 9.8 2.4 12.8 6.4c34.7 46.3 78.1 74.9 133.5 111.5c0 0 0 0 0 0s0 0 0 0c5.2 3.4 10.5 7 16 10.6c28.9 19.2 45.7 51.7 45.7 86.1c0 28.6-11.3 54.5-29.8 73.4l-356.4 0c-18.4-19-29.8-44.9-29.8-73.4c0-34.4 16.7-66.9 45.7-86.1c5.4-3.6 10.8-7.1 16-10.6c0 0 0 0 0 0s0 0 0 0C309.1 81.3 352.5 52.7 387.2 6.4c3-4 7.8-6.4 12.8-6.4zM288 512l0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-48 0c-17.7 0-32-14.3-32-32l0-128c0-17.7 14.3-32 32-32l416 0c17.7 0 32 14.3 32 32l0 128c0 17.7-14.3 32-32 32l-48 0 0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-64 0 0-58c0-19-8.4-37-23-49.2L400 384l-25 20.8C360.4 417 352 435 352 454l0 58-64 0zM70.4 5.2c5.7-4.3 13.5-4.3 19.2 0l16 12C139.8 42.9 160 83.2 160 126l0 2L0 128l0-2C0 83.2 20.2 42.9 54.4 17.2l16-12zM0 160l160 0 0 136.6c-19.1 11.1-32 31.7-32 55.4l0 128c0 9.6 2.1 18.6 5.8 26.8c-6.6 3.4-14 5.2-21.8 5.2l-64 0c-26.5 0-48-21.5-48-48L0 176l0-16z"/>
                            </svg>
                        </div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Dhuhr</div>
                            <div class="stock-fullname" id="dhuhr-namaz" style="font-size: 15px;">10</div>
                        </div>
                    </div>
                </div>
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="fa-circle-thin">
                                <path fill="#fff" d="M400 0c5 0 9.8 2.4 12.8 6.4c34.7 46.3 78.1 74.9 133.5 111.5c0 0 0 0 0 0s0 0 0 0c5.2 3.4 10.5 7 16 10.6c28.9 19.2 45.7 51.7 45.7 86.1c0 28.6-11.3 54.5-29.8 73.4l-356.4 0c-18.4-19-29.8-44.9-29.8-73.4c0-34.4 16.7-66.9 45.7-86.1c5.4-3.6 10.8-7.1 16-10.6c0 0 0 0 0 0s0 0 0 0C309.1 81.3 352.5 52.7 387.2 6.4c3-4 7.8-6.4 12.8-6.4zM288 512l0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-48 0c-17.7 0-32-14.3-32-32l0-128c0-17.7 14.3-32 32-32l416 0c17.7 0 32 14.3 32 32l0 128c0 17.7-14.3 32-32 32l-48 0 0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-64 0 0-58c0-19-8.4-37-23-49.2L400 384l-25 20.8C360.4 417 352 435 352 454l0 58-64 0zM70.4 5.2c5.7-4.3 13.5-4.3 19.2 0l16 12C139.8 42.9 160 83.2 160 126l0 2L0 128l0-2C0 83.2 20.2 42.9 54.4 17.2l16-12zM0 160l160 0 0 136.6c-19.1 11.1-32 31.7-32 55.4l0 128c0 9.6 2.1 18.6 5.8 26.8c-6.6 3.4-14 5.2-21.8 5.2l-64 0c-26.5 0-48-21.5-48-48L0 176l0-16z"/>
                            </svg>
                        </div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Asr</div>
                            <div class="stock-fullname" id="asr-namaz" style="font-size: 15px;">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="fa-circle-thin">
                                <path fill="#fff" d="M400 0c5 0 9.8 2.4 12.8 6.4c34.7 46.3 78.1 74.9 133.5 111.5c0 0 0 0 0 0s0 0 0 0c5.2 3.4 10.5 7 16 10.6c28.9 19.2 45.7 51.7 45.7 86.1c0 28.6-11.3 54.5-29.8 73.4l-356.4 0c-18.4-19-29.8-44.9-29.8-73.4c0-34.4 16.7-66.9 45.7-86.1c5.4-3.6 10.8-7.1 16-10.6c0 0 0 0 0 0s0 0 0 0C309.1 81.3 352.5 52.7 387.2 6.4c3-4 7.8-6.4 12.8-6.4zM288 512l0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-48 0c-17.7 0-32-14.3-32-32l0-128c0-17.7 14.3-32 32-32l416 0c17.7 0 32 14.3 32 32l0 128c0 17.7-14.3 32-32 32l-48 0 0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-64 0 0-58c0-19-8.4-37-23-49.2L400 384l-25 20.8C360.4 417 352 435 352 454l0 58-64 0zM70.4 5.2c5.7-4.3 13.5-4.3 19.2 0l16 12C139.8 42.9 160 83.2 160 126l0 2L0 128l0-2C0 83.2 20.2 42.9 54.4 17.2l16-12zM0 160l160 0 0 136.6c-19.1 11.1-32 31.7-32 55.4l0 128c0 9.6 2.1 18.6 5.8 26.8c-6.6 3.4-14 5.2-21.8 5.2l-64 0c-26.5 0-48-21.5-48-48L0 176l0-16z"/>
                            </svg>
                        </div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Maghrib</div>
                            <div class="stock-fullname" id="maghrib-namaz" style="font-size: 15px;">10</div>
                        </div>
                    </div>
                </div>
                <div class="graph">
                    <div class="stock">
                        <div class="stock-logo dandruft">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="fa-circle-thin">
                                <path fill="#fff" d="M400 0c5 0 9.8 2.4 12.8 6.4c34.7 46.3 78.1 74.9 133.5 111.5c0 0 0 0 0 0s0 0 0 0c5.2 3.4 10.5 7 16 10.6c28.9 19.2 45.7 51.7 45.7 86.1c0 28.6-11.3 54.5-29.8 73.4l-356.4 0c-18.4-19-29.8-44.9-29.8-73.4c0-34.4 16.7-66.9 45.7-86.1c5.4-3.6 10.8-7.1 16-10.6c0 0 0 0 0 0s0 0 0 0C309.1 81.3 352.5 52.7 387.2 6.4c3-4 7.8-6.4 12.8-6.4zM288 512l0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-48 0c-17.7 0-32-14.3-32-32l0-128c0-17.7 14.3-32 32-32l416 0c17.7 0 32 14.3 32 32l0 128c0 17.7-14.3 32-32 32l-48 0 0-72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 72-64 0 0-58c0-19-8.4-37-23-49.2L400 384l-25 20.8C360.4 417 352 435 352 454l0 58-64 0zM70.4 5.2c5.7-4.3 13.5-4.3 19.2 0l16 12C139.8 42.9 160 83.2 160 126l0 2L0 128l0-2C0 83.2 20.2 42.9 54.4 17.2l16-12zM0 160l160 0 0 136.6c-19.1 11.1-32 31.7-32 55.4l0 128c0 9.6 2.1 18.6 5.8 26.8c-6.6 3.4-14 5.2-21.8 5.2l-64 0c-26.5 0-48-21.5-48-48L0 176l0-16z"/>
                            </svg>
                        </div>
                        <div class="stock-info" style="margin-top: 10px;">
                            <div class="stock-name" style="margin-bottom: 10px;">Isha</div>
                            <div class="stock-fullname" id="isha-namaz" style="font-size: 15px;">10</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row column">
                <div class="sub-title">Goods</div>
                <div class="asset-category">
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-bolt"></i></div>
                        </div>
                        <div class="asset-name">Energy</div>
                    </div>
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-inbox"></i></div>
                        </div>
                        <div class="asset-name">Gold</div>
                    </div>
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-clone"></i></div>
                        </div>
                        <div class="asset-name">Metals</div>
                    </div>
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-pagelines"></i></div>
                        </div>
                        <div class="asset-name">Grains</div>
                    </div>
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-adjust"></i></div>
                        </div>
                        <div class="asset-name">Livestock</div>
                    </div>
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-tencent-weibo"></i></div>
                        </div>
                        <div class="asset-name">Cotton</div>
                    </div>
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-leaf"></i></div>
                        </div>
                        <div class="asset-name">Corn</div>
                    </div>
                    <div class="category">
                        <div class="asset">
                            <div class="asset-logo"><i class="fa fa-tint"></i></div>
                        </div>
                        <div class="asset-name">Oil</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="half">
                    <div class="sub-title">Today Gainers</div>
                    <div class="stock">
                        <div class="stock-logo apple"><i class="fa fa-inverse fa-apple"></i></div>
                        <div class="stock-info">
                            <div class="stock-name">APPL</div>
                            <div class="stock-fullname">Apple Inc.</div>
                        </div>
                        <div class="stock-value">+14.5%</div>
                    </div>
                    <div class="stock">
                        <div class="stock-logo facebook"><i class="fa fa-inverse fa-facebook"></i></div>
                        <div class="stock-info">
                            <div class="stock-name">FB</div>
                            <div class="stock-fullname">Facebook, Inc.</div>
                        </div>
                        <div class="stock-value">+12.9%</div>
                    </div>
                    <div class="stock">
                        <div class="stock-logo amazon"><i class="fa fa-inverse fa-amazon"></i></div>
                        <div class="stock-info">
                            <div class="stock-name">AMZN</div>
                            <div class="stock-fullname">Amazon.com, Inc.</div>
                        </div>
                        <div class="stock-value">+10.2%</div>
                    </div>
                </div>
                <div class="half">
                    <div class="sub-title">Popular this week</div>
                    <div class="stock">
                        <div class="stock-logo twitter"><i class="fa fa-inverse fa-twitter"></i></div>
                        <div class="stock-info">
                            <div class="stock-name">TWTR</div>
                            <div class="stock-fullname">Twitter Inc.</div>
                        </div>
                        <div class="stock-value">+14.5%</div>
                    </div>
                    <div class="stock">
                        <div class="stock-logo paypal"><i class="fa fa-inverse fa-paypal"></i></div>
                        <div class="stock-info">
                            <div class="stock-name">PYPL</div>
                            <div class="stock-fullname">Paypal Holdings Inc.</div>
                        </div>
                        <div class="stock-value">+12.9%</div>
                    </div>
                    <div class="stock">
                        <div class="stock-logo google"><i class="fa fa-inverse fa-google"></i></div>
                        <div class="stock-info">
                            <div class="stock-name">GOOGL</div>
                            <div class="stock-fullname">Alphabet Inc.</div>
                        </div>
                        <div class="stock-value">+10.2%</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="BreakSettings" class="tabcontent">
            <div class="title">Break Settings</div>
            <div class="description">A Break Timer App</div>
            <div class="row">
                <div class="form-container">
                    <div class="form-group">
                        <label for="notifyMe">Notify me with</label>
                        <select name="notifyMe" id="notifyMe" style="width: 200px">
                            <option value="popup">Popup Break</option>
                            <option value="notify">Simple Notification</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="breakFrequency">Break frequency</label>
                        <select id="breakFrequency" style="width: 200px">
                            <option value="30">30 Minutes</option>
                            <option value="40">40 Minutes</option>
                            <option value="50">50 Minutes</option>
                            <option value="60">60 Minutes</option>
                            <option value="90">90 Minutes</option>
                            <option value="100">100 Minutes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="breakLength">Break length ()</label>
                        <select id="breakLength" style="width: 200px">
                            <option value="2">2 Minutes</option>
                            <option value="5">5 Minutes</option>
                            <option value="10">10 Minutes</option>
                            <option value="15">15 Minutes</option>
                            <option value="20">20 Minutes</option>
                            <option value="25">25 Minutes</option>
                            <option value="30">30 Minutes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="skipBreak">Allow skip break</label>
                        <label class="switch">
                            <input type="checkbox" id="skipBreak" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="snoozeBreak">Allow snooze break</label>
                        <label class="switch">
                            <input type="checkbox" id="snoozeBreak" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="snoozeLength">Snooze length</label>
                        <select id="snoozeLength" style="width: 200px">
                            <option value="2">2 Minutes</option>
                            <option value="5">5 Minutes</option>
                            <option value="10">10 Minutes</option>
                            <option value="15">15 Minutes</option>
                            <option value="20">20 Minutes</option>
                            <option value="25">25 Minutes</option>
                            <option value="30">30 Minutes</option>
                        </select>
                    </div>
                    <div class="mt-20">
                        <button class="btn-setting" id="settingSave">
                            Update Setting
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="Customization" class="tabcontent">
            <h3>Customization</h3>
            <p>Customize the UI.</p>
            <div class="form-container">
                <div class="form-group">
                    <label for="breakNotifyTitle">Break Notify Title</label>
                    <input type="text" id="breakNotifyTitle" value="" name="break_notify_title">
                </div>
                <div class="form-group">
                    <label for="breakNotifyMessage">Break Notify Message</label>
                    <input type="text" id="breakNotifyMessage" value="" name="break_notify_message">
                </div>
                <div class="form-group">
                    <label for="popupColor">Popup Notify Color</label>
                    <select name="popupColor" id="popupColor" style="width: 200px">
                        <option value="" class="">Default</option>
                        <option value="popup-bg-green-teal" class="">Green Teal</option>
                        <option value="popup-bg-magenta-pink" class="">Magenta Pink</option>
                        <option value="popup-bg-purple-magenta" class="">Purple Magenta</option>
                        <option value="popup-bg-bright-orange-red" class="">Bright Orange Red</option>
                        <option value="popup-bg-neon-green" class="">Neon Green</option>
                        <option value="popup-bg-blue-aqua" class="">Blue Aqua</option>
                        <option value="popup-bg-soft-coral" class="">Soft Coral</option>
                        <option value="popup-bg-dark-blue-purple" class="">Dark Blue Purple</option>
                        <option value="popup-bg-deep-teal-cyan" class="">Deep Teal Cyan</option>
                        <option value="popup-bg-charcoal-violet" class="">Charcoal Violet</option>
                        <option value="popup-bg-deep-magenta-black" class="">Magenta Black</option>
                        <option value="popup-bg-deep-burgundy" class="">Deep Burgundy</option>
                    </select>
                </div>
                <div id="colorPreview" class="color-preview"
                     style="height: 50px; width: 50px;"
                >
                </div>
                <div class="mt-20">
                    <button class="btn-setting" id="uiSettingSave">
                        Update Setting
                    </button>
                </div>
            </div>
        </div>

        <div id="WorkingHours" class="tabcontent">
            <h3>About US</h3>
            <div>
                <p>The app to remind you it's time to take a break from the screen and go out!</p>
                <p>Version: 0.1.0</p>
                <p>Develop By: <b><a href="javascript:void(0)" id="aboutUsBtn">Fazle Rabbi</a></b></p>
                <p style="margin-top: 3rem;">Copyright © <span id="current-year"></span> RestUp Reminder</p>
            </div>
        </div>
    </div>
</div>

<script src="../renderer/settings.js"></script>
<script src="../assets/js/ui-setting.js"></script>
</body>
</html>